{% for car in cars %}

    {% if loop.index % 3 == 0  %}
        <div class="row">
    {% endif %}

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{protocol}}{{car.imageUrl}}" style="cursor:pointer;" alt="Image {{car.title}}" class="img-responsive img-thumbnail" data-toggle="modal"
            data-detail-url="{{protocol}}{{car.detailUrl}}" 
            data-target="#detailModal" 
            data-detail-title="{{car.title}}">

            <div class="caption">
                <h3>{{car.title}}</h3>

                <p>{{car.description}}</p>

                <table class="table table-bordered">
                    <tr>
                        <th>{{ mileageText }}</th>
                        <td>{{ car.mileage }}</td>
                    </tr>
                    <tr>
                        <th>{{ yearText }}</th>
                        <td>{{ car.age_group }}</td>
                    </tr>
                    <tr>
                        <th>{{ priceText }}</th>
                        <td><b>{{car.price}}</b></td>
                    </tr>
                </table>
                <p>
                    <button class="btn btn-primary"  
                            data-detail-url="{{protocol}}{{car.detailUrl}}" 
                            data-toggle="modal"
                            data-target="#detailModal" 
                            data-detail-title="{{car.title}}" role="button">{{ detailText }}
                    </button>
                </p>
            </div>
        </div>
    </div>

    {% if loop.index % 3 == 0 %}
        </div>
    {% endif %}

    {% if loop.last and loop.index % 3 != 0 %}
        </div>
    {% endif %}

{% endfor %}

{% if cars[0] is defined %}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <span class="text-muted"><small>{{cars[0].created_at.format('d.m.Y H.m')}}</small></span>
    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">...</h4>
            </div>
            <div class="modal-body">
                <iframe id="detailFrame" class="embed-responsive-item" style="border:0;width:100%;min-height:1400px;"
                        src=""></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ confirmText }}</button>
            </div>
        </div>
    </div>
</div>